.name-of-site {
  position: absolute;
  width: 145px;
  height: 31px;
  left: 215px;
  top: 23px;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  /* identical to box height */

  letter-spacing: 0.03em;

  color: #2196f3;
}
.silca {
  position: absolute;
  width: 42px;
  height: 16px;
  left: 463px;
  top: 32px;
}
.porto {
  position: absolute;
  width: 58px;
  height: 16px;
  left: 545px;
  top: 32px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: #212121;
}
.contact {
  position: absolute;
  width: 59px;
  height: 16px;
  left: 653px;
  top: 32px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: #212121;
}
.telefon {
  position: absolute;
  width: 113px;
  height: 16px;
  left: 1272px;
  top: 32px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: #757575;
}
.email {
  position: absolute;
  width: 135px;
  height: 16px;
  left: 1097px;
  top: 32px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: #2196f3;